* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #eccce2;
  color: rgb(5, 5, 5);
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

/*************************CONTAINER*****************************************/
#container {
  width: 90%;
  max-width: 1200px;
  margin: auto 20px;
  padding: 40px 10px;
  *background: rgb(20, 220, 177);
  height: 100%;

  /* Flexbox */
  /* display: flex;
	gap: 20px; */

  /* Grid */
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
/*************************LOGIN*****************************************/
.secLogologin {
  *background-color: red;
  height: 30%;
  align-items: center;
}
h1 {
  text-align: center;
}

.loginSection {
  border-radius: 10px;
  height: 100%;
  font-weight: bold;
  padding: 20px;
  position: relative;
  background-size: cover;
  background-position: center center;
  *background-color: darkblue;
}
.loginform {
  /* Flexbox */
  height: 70%;
  text-align: center;

  /* Grid */
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
  *background: cyan;
}

.loginErrorMessage,
.registerErrorMessage {
  font-size: 18px;
  font-style: italic;
  color: rgb(211, 12, 12);
  text-align: center;
}

.inputGroup {
  *align-items: center;
  text-align: center;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
}

input {
  display: flex;
  justify-content: center;
  padding: 0%;
  /* Para asegurarse de que todos los campos de texto tienen la misma configuración de letra
     Por defecto, las áreas de texto tienen un tipo de letra monoespaciada */
  font-size: 18px;
  /* Tamaño uniforme del campo de texto */
  width: 90%;
  height: 40px;
  box-sizing: border-box;
  /* Hacer coincidir los bordes del campo del formulario */
  border: 0.3em solid #d3057de5;
  border-radius: 5em;
  text-align: center;
}
.allButton {
  height: 90%;
  width: 60%;
  align-content: center;
  align-items: center;
  font-size: 100%; /******/
  font-family: "Roboto", sans-serif;
  font-size: 1.01em;

  color: white;
  border-radius: 2em;
  background-color: #d3057d;
}

.optionRegister {
  *background-color: darkgreen;
}

/*************************REGISTER*****************************************/

.secLogoRegister {
  height: 20%;
  align-items: center;
  text-align: center;
}
.registerLogo {
  width: 100px;
}
.registerForm {
  height: 80%;
}

label {
  text-align: left;
}
.inputGroupRegister {
  text-align: center;

  display: grid;
  grid-template-columns: repeat(1, 1fr);

  gap: 5px;
}
.allButtonRegister {
  margin: 30px;
  height: 90%;
  width: 60%;
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;

  color: white;
  border-radius: 2em;
  background-color: #d3057d;
}
.registerButton {
  text-align: center;
}
.registerText {
  text-align: center;
}
/* background-color: rgba(242, 5, 92, 0.79);
    border-radius: 100%; */

/********************* HEADER *******************/
.headerMain {
  *padding: 0%;
  *margin: 0%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  background-color: #f29bf3e5;
  /****gio***/
  display: flex;
  align-content: stretch;
  grid-column-start: 1;
  grid-column-end: -1;
  *grid-area: header;
  height: 100%;
}

/********************* NAVEGADOR *******************/
.navegador {
  *display: flex;
  margin: 0px;
  padding-left: 20px;
  padding-right: 20px;
}

/*ul.navegadorList */
nav ul {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
  text-align: end;
}
nav ul li {
  list-style: none;
  display: flex;
  float: right;
  background-color: white;
  margin: 20px;
  text-align: center;
  height: 100%;
}
.logoutBtn {
  height: 50%;
  width: auto;
  *align-content: center;
  *align-items: center;
  font-size: 100%; /******/
  font-family: "Roboto", sans-serif;
  color: white;
  border-radius: 2em;
  background-color: #d3057d;
}

/************************PERFIL******************************************/
#photoPortada {
  display: none;
  display: flex;
  margin: 10px;
  padding: 15px;
  width: 87%;

  left: 45px;
  top: 229px;

  background: rgba(242, 5, 92, 0.4);
  border-radius: 10px;
}

#imgPortada {
  width: 100%;
  height: 100px;
  left: 79px;
  top: 216px;
  justify-content: space-between;
  border-radius: 10px;
}
.photoProfile {
  display: flex;
  margin: 10px;
  padding: 20px 30px 20px 30px;
  width: 79%;

  *left: 65px;
  top: 429px;

  background: rgba(242, 5, 92, 0.4);
  border-radius: 10px;
}
.photo {
  width: 130px;
  height: 130px;
  margin-right: 15px;
  border-radius: 50%;
  cursor: pointer;
}
.userinfo {
  display: flexbox;
  margin-left: 9px;
  padding: 10px;
  font-size: 18px;
  justify-content: space-between;
}
.username1 {
  display: flexbox;
  padding-bottom: 0px;
  margin-top: 7px;
  margin-bottom: 0px;
  margin-right: 6px;
  font-family: "Roboto", sans-serif;
}
/*************************AREA PARA PUBLICAR*****************************************/
.postBoxWrite {
  flex-direction: column;
  background-color: rgba(184, 0, 51, 0.34);
  padding: 10px;
  border-radius: 15px;
}
.userWhoPost {
  display: flex;
}
#userPhoto {
  border-radius: 50px;
  height: 50px;
  width: 50px;
  margin: 10px;
}
.userName {
  *margin-top: 20px;
  display: flex;
  *margin: 0px 10px;
  align-self: center;
  font-weight: 500;
}
#contentTextPost {
  display: flex;
  flex-direction: column;
  padding: 10px;
  resize: none;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(255, 251, 252, 0.5);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
#compartirPost {
  width: 120px;
  margin: 10px 10px 10px 160px;
  padding: 5px;
  border-radius: 7px;
  border: 1px white;
  background-color: #b80033;
  color: white;
  cursor: pointer;
  *align-self: flex-end;
}
/*************************TODAS LAS PUBLICACIONES*******************************/
.publicPost {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px 5px;
  background-color: rgba(184, 0, 51, 0.3);
  border-radius: 15px;
  padding: 15px;
}
#userWhoPosted {
  display: flex;
  flex-direction: column;
}
.infoUserWhoPosted {
  display: flex;
  grid-template-columns: 1fr 25fr;
}
.textPosted {
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 251, 252, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.05em;
}
.datePosted {
  color: gray;
}
/*************************FOOTER*****************************************/
.footer {
  background-color: #ceccf3;
  width: 100%;
  height: 100%;

  /* display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  *position: absolute; /*desarivado para que se quede abajo
  bottom: 0;
  left: 0;*/
}
